 <body>
 <h2 style="text-align:center;margin-left:70px;">Add Student</h2>
  <form [formGroup]="addForm">
  <table align="center" cellpadding = "10">
   <tr>
     <td>Name</td>
   <td><input type="text" formControlName="name" class="form-control" [(ngModel)]="newStudent.name" style="width: 250px;" [ngClass]="{ 'is-invalid':submitted && fields.name.errors}">
    <div *ngIf=" submitted && fields.name.errors" class="invalid-feedback">
      <div *ngIf="fields.name.errors.required"> Name is required</div>
  </div>
  </td>
</tr>
  <tr>
   <td>Age</td>
  <td><input type="text"  formControlName="age" class="form-control" [(ngModel)]="newStudent.age" style="width: 250px;"[ngClass]="{ 'is-invalid': submitted && fields.age.errors }">
    <div *ngIf=" submitted && fields.age.errors" class="invalid-feedback">
     <div *ngIf="fields.age.errors.min">Age must be greater than 16</div>
    </div>
  </td>
  </tr>
  <tr>
  <td>AdmissionYear </td>
   <td>
      <select type="text"  formControlName="admissionYear" class="form-control" [(ngModel)]="newStudent.admissionYear" style="width: 250px;">
          <option>2017</option>
          <option>2018</option>
          <option>2019</option>
          <option>2020</option>
      </select>
    </td>
    </tr>
  <tr>
    <!-- <td>Department</td>
    <td>
    <input type="text" name="Department" [(ngModel)]="newStudent.dept"/> </td> -->
   <td> Department</td>
   <td>
      <select type="text"  formControlName="department" class="form-control" [(ngModel)]="newStudent.dept" style="width: 250px;">
          <option>Computer Science and Engineering</option>
          <option>Mechanical Engineering</option>
          <option>Electrical and Electronics Engineering</option>
          <option>Electronics and Communications Engineering</option>
      </select>
    </td>
    </tr>
      <tr>
        <td>
          <td>
      <!-- <button class="btn" style="float:left" value="close" (click)="close()"class="btn btn-primary">Close</button>
      <button class="btn" style="float:right" value="updateRecord" (click)="saveRecord()"class="btn btn-primary">Save</button> -->
      <button class="btn" style="margin-left:50px;" value="close" (click)="close()"class="btn btn-primary">Close</button>
      <button class="btn" style="margin-left:3px;" value="updateRecord" (click)="saveRecord()"class="btn btn-primary">Save</button>
        </tr>
</table>
</form>



